{% extends "base.jinja2" %}
{% block title %}{{super()}}Index{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>

{% endblock %}

{% block content %}
<h1>
    Welcome!!!
    <img src="{{ url_for('static', filename='img/Logo_UnB.png') }}" alt="UnB" width="25" height="25">
</h1>

<h2>
    This is the Attendance System of the University of Brasilia
</h2>

<class="important">

        The Attendance System Team welcomes would like to show the news and the launch of this release...
    </p>


    {% if current_user.is_authenticated %}
    <h4>
        <a href="{{ url_for('lessons.new') }}">Register Lesson</a>
    </h4>
    <h4>
        <a href="{{ url_for('attendances.new') }}">Record presence</a>
    </h4>
    {% endif %}
    {% endblock %}